body{
    margin: 0;
    padding: 0%;
    
}

#main-div{

    display: flex;
    justify-content:space-between;
    border-bottom: 3px solid pink;
    box-shadow: 3px 3px 3px lightgray;
    padding: 0px 50px;
}
#head-ul{
    list-style-type: none;
    font-size: 20px;
    display: flex;
     gap: 20px;
     align-items: center;
     padding: 20px;
}
input{
    border: none;
    width: 100px;
    font-size: 20px;
    color: black;
}



